// http://sass-lang.com/guide
// http://bourbon.io/docs/
// http://susydocs.oddbird.net/en/latest/install/

@import "../tools/fonts";
@import "../tools/bourbon/bourbon";
@import "../tools/normalize";
@import "../tools/susy";

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@import "vars";
@import "style";